
input[type=text]{
	width: 30%;
	-webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out; 
    outline: none;   
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=checkbox]{
    margin:auto;
}

form{
	text-align:center;
	margin:auto;
}

table{
    text-align:center;
    margin:auto;
}

textarea, select{
	width: 30%;
	outline: none;   
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

}

input[type=text]:focus , textarea:focus{
	width: 31%;
	box-shadow: 0 0 1px rgba(255,20,147,0.8);
	border: 1px solid rgba(255,20,147,0.1);
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #40A497;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
	display: inline-block;

}

